@import "tailwindcss";


button:hover {
  background-color: #ffffff !important;
  color: #8742b0 !important;
  cursor: pointer;
  transform: scale(1.03);
}

.header {
  border: 1px solid rgba(255, 255, 255, 0.55);
  border-radius: 50px;
  margin: 20px;
 background-color: rgba(128, 128, 128, 0.2);
  padding: 2px 8px;
}

.vta {
  animation: vtaAnimation 3s infinite;
  border: 1px solid rgba(255, 255, 255, 0.55);
  border-radius: 50px;

  padding: 2px 8px;
}

@keyframes vtaAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}


.form-border {
  border: 1px solid rgba(255, 255, 255, 0.55);
  border-radius: 50px;
  padding: 5px 10px;
}

/* Utility to hide native scrollbars while keeping scrolling usable/accessibile */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}